
.Soft {
    background-color:rgb(17, 57, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height : 50px;
  }

